body{
    font-family: Arial, serif;
}
h2{
    margin:0;
    font-size:18px;
    color:blue;
}
.mainToDoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.todoInputContainer{
    flex-grow: 1;
}

.toDoListContainer{
    display: flex;
    margin-left:auto;
    flex-direction: column;
}

.toDoInputTextarea{
    width: 400px;
    height: 60px;
}

.toDoBoxInList{
    border: 1px solid green;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
}
.toDoBoxInList:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.toDoFilterContainer{
    border: 1px solid lightgray;
    height: 70px;
}

.toDoSearchContainer{

}

.toDoDependencyTree{
    background-color: lightgray;
}

datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: stretch;
    writing-mode: vertical-lr;
    width: 200px;
}

label{
    font-weight: bold;

}

option {
    padding: 0;
    font-weight: bold;
    transform: rotate(-90deg);
    margin-top: -20px;
    cursor: pointer;

}

input[type="range"] {
    width: 200px;
    margin: 0;
    -webkit-appearance: none;
    border: 1px solid blue;
    border-radius: 8px;
    cursor: pointer;
}
/*******************ALTERNATIF CSS ve UI STRUCTURE*****************************/
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

.flex-items:nth-child(1) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.flex-items:nth-child(2) {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

