body{
    font-family: Arial, serif;
}

.mainToDoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.todoInputContainer{
    flex-grow: 1;
}

.toDoListContainer{
    display: flex;
    margin-left:auto;
    flex-direction: column;
    width:40%;

}

.toDoInputTextarea{
    width: 400px;
    height: 200px;
}

.toDoBoxInList{
    border: 1px solid green;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
}
.toDoBoxInList:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.toDoFilterContainer{
    border: 1px solid lightgray;
    height: 100px;
}

.toDoSearchContainer{

}

datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: stretch;
    writing-mode: vertical-lr;
    width: 200px;
}

label{
    font-weight: bold;

}

option {
    padding: 0;
    font-weight: bold;
    transform: rotate(-90deg);
    margin-top: -20px;
    cursor: pointer;

}

input[type="range"] {
    width: 200px;
    margin: 0;
    -webkit-appearance: none;
    border: 1px solid blue;
    border-radius: 8px;
    cursor: pointer;
}
